version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    labels:
      - dependencies
      - ci
    groups:
      major-actions:
        applies-to: version-updates
        update-types:
          - major
      minor-patch-actions:
        applies-to: version-updates
        update-types:
          - minor
          - patch
